.form {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

input {
  height: 40px;
  width: 360px;
  padding-left: 12px;
  border: 1px solid #808080;
}

button {
  height: 40px;
  width: 80px;
}

select {
  height: 40px;
  width: 375px;
}
